flows.json
[{"id":"8f8b9ffb.9498d","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"bb9563ea.d2bb1","type":"function","z":"8f8b9ffb.9498d","name":"PreToken","func":"global.set(\"ct\",msg.payload.rd)\nglobal.set(\"km\",msg.payload.ad)\nglobal.set(\"yr\",msg.payload.ms)\nglobal.set(\"pps\",msg.payload.st)\nglobal.set(\"mnpc\",msg.payload.st)\nglobal.set(\"mxpc\",msg.payload.st)\nglobal.set(\"avpc\",msg.payload.st)\nvar apikey=\"W07Pi6tPhOnSqAXwO2Wt93s_QVsou41lSDvkefkJS5-Z\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":300,"wires":[["5d12b3ba.349f4c"]]},{"id":"5d12b3ba.349f4c","type":"http request","z":"8f8b9ffb.9498d","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":439,"y":288.9999952316284,"wires":[["ea3d664d.e283b8"]]},{"id":"feeca523.94dca8","type":"debug","z":"8f8b9ffb.9498d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":898.0000114440918,"y":30.99999713897705,"wires":[]},{"id":"ea3d664d.e283b8","type":"function","z":"8f8b9ffb.9498d","name":"Pre Prediction","func":"var ct = global.get('ct')\nvar km = global.get('km')\nvar yr = global.get('yr')\nvar pps = global.get('pps')\nvar mnpc = global.get('mnpc')\nvar mxpc = global.get('mxpc')\nvar avpc = global.get('avpc')\nvar token=msg.payload.access_token\nvar instance_id=\"82a6c724-61d5-4b50-abc2-79e3967128cd\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Count\", \"km\", \"Year\", \"powerPS\",\"minPrice\",\"maxPrice\",\"avgPrice\"], \"values\": [[ct,km,yr,pps,mnpc,mxpc,avpc]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":636.0000076293945,"y":251.99999904632568,"wires":[["74aaaec1.82254"]]},{"id":"74aaaec1.82254","type":"http request","z":"8f8b9ffb.9498d","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/v4/deployments/4c4cc2ab-62be-441a-a8ea-00ab941b5f51/predictions","tls":"","persist":false,"proxy":"","authType":"","x":729.5000076293945,"y":195.99999904632568,"wires":[["6cba428f.aece0c","feeca523.94dca8"]]},{"id":"51faa39f.884ddc","type":"ui_form","z":"8f8b9ffb.9498d","name":"","label":"","group":"749d2527.27ef7c","order":1,"width":0,"height":0,"options":[{"label":"count","value":"ct","type":"number","required":true,"rows":null},{"label":"km","value":"km","type":"number","required":true,"rows":null},{"label":"year","value":"yr","type":"number","required":true,"rows":null},{"label":"powerPS","value":"pps","type":"number","required":true,"rows":null},{"label":"minPrice","value":"mnpc","type":"number","required":true,"rows":null},{"label":"maxPrice","value":"mxpc","type":"number","required":true,"rows":null},{"label":"avgPrice","value":"avpc","type":"number","required":true,"rows":null}],"formValue":{"ct":"","km":"","yr":"","pps":"","mnpc":"","mxpc":"","avpc":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":50,"y":320,"wires":[["bb9563ea.d2bb1"]]},{"id":"7acd30bf.bf918","type":"ui_text","z":"8f8b9ffb.9498d","group":"749d2527.27ef7c","order":2,"width":0,"height":0,"name":"","label":"sdPrice","format":"{{msg.payload}}","layout":"row-spread","x":767.6000366210938,"y":348.20000743865967,"wires":[]},{"id":"6cba428f.aece0c","type":"function","z":"8f8b9ffb.9498d","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":589.6000366210938,"y":91.60000133514404,"wires":[["7acd30bf.bf918"]]},{"id":"749d2527.27ef7c","type":"ui_group","z":"","name":"Default","tab":"3a4f4992.1a1736","order":1,"disp":true,"width":"6","collapse":false},{"id":"3a4f4992.1a1736","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]